.app {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 60px;
  margin: 4rem 4rem 0 4rem;
  color: white;
  position: relative;
  z-index: 10;
}

.nav-start,
.links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.links {
  gap: 1.5rem;
  font-family: "Overpass";
  font-weight: 600;
}

.nav__item {
  margin: 5px;
}

.links > * {
  cursor: pointer;
}

.links > *:hover {
  text-decoration: underline;
}

#sign {
  display: flex;
  gap: 1.5rem;
  margin: 1rem;
}

.signup {
  border-radius: 999px;
  border: none;
  font-family: "Overpass";
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  color: var(--red);
  cursor: pointer;
  background-color: white;
  transition: background 100ms;
}

.login {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
  font-family: "Overpass";
  font-weight: 600;
}

.dropdown {
  list-style-type: none;
  position: absolute;
  z-index: 1000;
  top: 50px;
  padding: 0;
  height: fit-content;
  min-width: 150px;
  transform: translateX(-20%);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  color: black;
  font-weight: 500;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.349);
  transition: font-weight 500ms ease;
}

.dropdown p {
  position: relative;
  padding: 1rem;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  transition: background-color 200ms ease;
  z-index: 1000;
}

.dropdown p:hover {
  background-color: var(--light-red);
  font-weight: 700;
}

.arrow--clicked {
  transform: rotate(180deg);
}

.hero {
  margin: 0;
  color: white;
  height: 40rem;
  width: 100dvw;
  background: linear-gradient(to right, var(--orange), var(--deep-red));
  z-index: 10;
  overflow: hidden;
  border-radius: 0 0 0 7%;
}

.hero__bg {
  height: 200rem;
  position: relative;
  top: 0;
  z-index: 1;
  object-fit: cover;
  transform: translate(-11.8%, -55%);
}

.hero__title {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hook {
  font-size: 65px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hook,
.subtitle,
.hero__buttons {
  z-index: 10;
}
.hero__buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.btn {
  border-radius: 999px;
  border: none;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  font-family: "Overpass";
}

.learn-more {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  transition: background 100ms;
}

.learn-more:hover {
  background-color: white;
  color: var(--red);
}

.for-free {
  color: var(--red);
  transition: background 100ms;
}

.signup:hover,
.for-free:hover {
  background-color: rgba(255, 255, 255, 0.404);
  color: white;
}

.editor {
  margin: 6rem 6rem;
}

.editor > h2 {
  text-align: center;
  font-size: 60px;
}

.editor__details {
  display: flex;
  align-items: center;
  position: relative;
  top: 4rem;
}

.details__descreption,
.details__visual {
  width: 50%;
}

.details__visual {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-screen {
  position: absolute;
  top: -30rem;
  right: -20rem;
  height: 50rem;
}

.editor-circles {
  position: absolute;
  top: -28rem;
  right: -15rem;
  height: 40rem;
  z-index: -1;
}

.self-orbit {
  animation: spin 2s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.details__descreption {
  position: relative;
  top: -7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 24px;
}

.details__descreption p {
  color: var(--gray);
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 10rem;
  width: 100%;
  height: fit-content;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: hidden;
  overflow-x: hidden;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 90%;
  height: max(fit-content, 100vh);
  align-items: center;
  overflow-y: scroll;
  background-color: white;
  border-radius: 10px;
}

.fixed {
  position: fixed;
  z-index: 2000;
}

.mobile__menu {
  color: var(--pitch-black);
  text-decoration: none;
  margin: 1rem;
  font-size: 34px;
  padding: 1rem;
}

.drk-arw {
  height: 15px;
  margin: 0.5rem;
  transform: translateY(50%);
}

@media (max-width: 875px) {
  .nav-start {
    width: 100%;
    justify-content: space-between;
  }
  .hook {
    font-size: 45px;
  }

  .hero__btn {
    width: 12rem;
    height: 4rem;
    font-size: 20px;
  }
  .hamburger {
    position: sticky;
    height: 30px;
    width: auto;
    z-index: 2000;
  }
}
