.app {
  margin: 0;
  padding: 0;
}

.hero {
  margin: 0;
  position: absolute;
  color: white;
  height: 40rem;
  width: 100vw;
  background: linear-gradient(to right, var(--orange), var(--deep-red));
  z-index: -1;
  overflow: hidden;
  border-radius: 0 0 0 10%;
}

.hero__bg {
  height: 200rem;
  position: relative;
  top: 0;
  z-index: -1;
  object-fit: cover;
  transform: translate(-11.3%, -55%);
}

.hero__title {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hook {
  font-size: 65px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hero__buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.btn {
  border-radius: 999px;
  border: none;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  font-family: "Overpass";
}

.learn-more {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  transition: background 100ms;
}

.learn-more:hover {
  background-color: white;
  color: var(--red);
}

.for-free {
  color: var(--red);
  transition: background 100ms;
}

.signup:hover,
.for-free:hover {
  background-color: rgba(255, 255, 255, 0.404);
  color: white;
}
